.container
  .url__new
    = simple_form_for Url.new, html: { id: "new-url-form" }, url: urls_path do |form|
      = form.input :route, label: false
      = form.submit t("helpers.submit.url.create"), id: "submit-new-url"

  = render "list"
