@mixin margin-control() {
  margin: 0 8% 0 8%;
}


$custom-grid--thirds: (
  columns: 3,
  gutter: 60px,
);


html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: tint($blue-light, 90%);
}

main {
  @include margin-control;
}

.container {
  @include grid-container;
}
