// Typography
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;

//text-size
$font-xlarge: 2.5em;
$font-large: 1.5em;
$font-medium: 1.25em;
$font-small: .85em;
$font-xsmall: .5em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Main Primary color
$blue-light: #0E6CE4;
$blue-medium-light: #1F579F;
$blue: #2B4970;
$blue-medium-dark: #253140;
$blue-dark: #0D0F11;

// Main Secondary color
$red-light: #FF2300;
$red-medium-light: #F23B1E;
$red: #AA4839;
$red-medium-dark: #623B35;
$red-dark: #1A1414;

// Main Secondary color (2)
$yellow-light: #FFDF00;
$yellow-medium-light: #F2D81E;
$yellow: #AA9C39;
$yellow-medium-dark: #625C35;
$yellow-dark: #1A1914;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $red;

// Border
$base-border-color: $blue-dark;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
